.header {
  height: 56px;
  padding: 0 25px;
}

.page-title {
  width: 100%;
  text-align: center;
  margin-right: 40px;
  font-size: 20px;
}

.header-button {
  background-color: white;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}
