@import "src/assets/styles/colors";
@import "src/assets/styles/font";

:host {
  height: 100vh;
  display: flex;

  // Direction of the items, can be row or column
  flex-direction: column;
}

.my-custom-tab{
  flex: 1 1 auto;
  margin: 20px 25px 0;
}

.tab-content {
  margin-top: 20px;
}

.form {
  width: 100%;

  &__input {
    width: 100%;
    margin-top: 6px;
  }

  .checkbox-agree {
    font-size: 12px;
  }
}

.form-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 25px;
  background-color: transparent;

  &__login {
    width: 100%;
    height: 50px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    border-radius: 12px;
    background-color: $main-color;
  }

  &__forget {
    font-size: 14px;
    color: $main-color;
    text-decoration: none;
  }
}

label {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
}

input {
  outline: none;
  width: 100%;
  height: 52px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding: 12px 20px;
  margin: 10px 0 20px;
  background: #ffffff;
  border: 1px solid rgba(213, 213, 213, 0.6);
  box-sizing: border-box;
  border-radius: 12px;
}

input:focus {
  border: 2px solid $main-color;
}

.input-field {
  width: 100%;
  height: 52px;
}

#inputPassword {
  padding-right: 50px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.placeholder {
  position: absolute;
  top: -9px;
  bottom: 0;
  height: 24px;
  font-size: 25px;
  right: 19px;
  margin: auto;
}

.input-placeholder {
  width: 100%;
  position: relative;
}

.card-info-block {
  background-color: white;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(208, 166, 89, 0.2);
  box-sizing: border-box;
  border-radius: 8px;
  margin-top: 20px;
}

.block-title {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 34px;
  color: #373f41;
  border-left: 1px solid rgba(208, 166, 89, 0.2);
  padding-left: 20px;
}

.block-icon {
  width: 50px;
  height: 16px;
  line-height: 16px;
  padding: 4px;
}

.avatar {
  border-radius: 56px;
  width: 70px;
  height: 70px;
}

.main-info {
  width: 100%;
  height: 70px;
}

.fullname {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 14px;
  color: #252631;
  text-transform: uppercase;
}

.add-funds {
  width: 100%;

  .title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    color: #d0a659;
    padding-left: 10px;
  }

  .icon {
    height: 16px;
  }

  &:hover{
    cursor: pointer;
  }
}

.gender-radio-button{
  margin-top: 27px;
}
