.header {
  background-color: white;
  height: 56px;
}

.page-title {
  width: 100%;
  text-align: center;
  margin-right: 40px;
  font-size: 20px;
}

.tour-detail-page {
  background: white;
  width: 100%;
  min-height: calc(100vh - 56px);
  padding-bottom: 70px;
}

.custom-card {
  height: 510px;
  width: 100%;
  border-radius: 12px;
  background-color: white;
}

.card-image {
  width: 100%;
  height: 30vh;
  // background-image: url("../../../assets/images/auth-page/wellcome.png");
  background-position: center;
  background-size: contain;
}

.card-info {
  padding: 14px 20px;
  width: 100%;
  min-height: calc(70vh - 56px);
  // overflow: auto;
}

.card-info-title {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  color: #373f41;
}

.card-info-date {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #999999;
  padding-top: 10px;
}

.card-info-block {
  width: 100%;
  margin-top: 20px;
}

.block-caption {
  width: 100%;
  .block-title {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 34px;
    color: #373f41;
  }

  .block-subtitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    color: #979797;
  }
}

.block-icon {
  line-height: 24px;
  padding: 4px;
}

.card-divider {
  width: 100%;
  height: 3px;
  margin: 20px 0;
  background: #f7f8fa;
}

.services-caption {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #979797;
  padding-top: 30px;
}

.service {
  margin-top: 0;
}

.service-icon {
  line-height: 20px;
  height: 7px;
  width: 7px;
}

.service-title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #373f41;
  margin: 7px 0;
}

.card-footer {
  width: 100%;
}

.footer-info {
  color: #373f41;
}

.footer-info-first {
  font-size: 12px;
  line-height: 14px;
}

.footer-info-second {
  font-size: 14px;
  line-height: 16px;
}

.footer-price-first {
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  color: #d0a659;
}

.footer {
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.button-buy {
  width: calc(100% - 50px);
  margin: 10px 25px;
  height: 50px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  border-radius: 12px;
  background-color: #d0a659;
  color: white;
  border: none;
}

.spacer-vertical {
  flex: 1;
}

.my-carousel {
  height: 30vh !important;
}
