@import "../../../assets/styles/colors.scss";

:host {
  height: 100vh;
  display: flex;

  // Direction of the items, can be row or column
  flex-direction: column;
}

.header {
  background-color: white;
  height: 56px;
}

.page-title {
  width: 100%;
  text-align: center;
  margin-right: 40px;
  font-size: 20px;
}

.login-page {
  padding: 25px;
  background-color: white;
  flex: 1 1 auto;
}

.icon {
  width: 75px;
  height: 75px;
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  margin-top: 15px;
}

.description {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  width: 300px;
  text-align: center;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 25px;
  background-color: white;

  &__login {
    width: 100%;
    height: 50px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    border-radius: 12px;
    background-color: $main-color;
  }

  &__forget {
    font-size: 14px;
    color: $main-color;
    text-decoration: none;
  }
}
