@import "../../../assets/styles/colors.scss";

:host {
  height: 100vh;
  display: flex;

  // Direction of the items, can be row or column
  flex-direction: column;
}

.header {
  background-color: white;
  height: 56px;
}

.page-title {
  width: 100%;
  text-align: center;
  margin-right: 40px;
  font-size: 20px;
}

.login-page {
  padding: 25px;
  background-color: white;
  flex: 1 1 auto;
}

.form {
  width: 100%;

  &__input {
    width: 100%;
    margin-top: 6px;
  }

  .checkbox-deposit-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
  }

  .checkbox-deposit-subtitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin-top: 6px;
    color: #b8b9be;
  }
}

.form-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 25px;
  background-color: white;

  &__login {
    width: 100%;
    height: 50px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    border-radius: 12px;
    background-color: $main-color;
  }

  &__forget {
    font-size: 14px;
    color: $main-color;
    text-decoration: none;
  }
}

.form-error-message {
  background-color: #faebeb;
  padding: 5px;
}

label {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
}

input {
  outline: none;
  width: 100%;
  height: 52px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding: 12px 20px;
  margin: 10px 0 20px;
  background: #ffffff;
  border: 1px solid rgba(213, 213, 213, 0.6);
  box-sizing: border-box;
  border-radius: 12px;
}

input:focus {
  border: 2px solid $main-color;
}

.input-field {
  width: 100%;
  height: 52px;
}

#inputPassword {
  padding-right: 50px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.placeholder {
  position: absolute;
  top: -9px;
  bottom: 0;
  height: 24px;
  font-size: 25px;
  right: 19px;
  margin: auto;
}

.input-placeholder {
  width: 100%;
  position: relative;
}
