<app-header
  title="Восстановить пароль"
  [stepBack]="routers.SIGN_IN"
></app-header>
<div class="login-page" fxLayout="column" fxLayoutAlign="center center">
  <form
    fxLayout="column"
    fxLayoutAlign="space-between start"
    class="form"
    [formGroup]="form"
  >
    <div class="info">
      <h3 class="info-title">{{ title }}</h3>
      <span class="info-text"> {{ text }}</span>
    </div>

    <label *ngIf="!isRestored" for="code">Номер телефона</label>
    <input
      *ngIf="!isRestored"
      formControlName="username"
      type="text"
      id="fname"
      name="fname"
      placeholder="Введите номер телефона"
      prefix="+7("
      mask="000) 000-0000"
      (input)="isAuthFailed = false"
    />
    <div *ngIf="isAuthFailed" class="form-error-message">
      <span>Этот номер не зарегистрирован</span>
    </div>
    <button
      *ngIf="!isRestored"
      class="form-actions__buttom"
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="form.invalid"
      (click)="restore()"
    >
      Восстановить пароль
    </button>
    <button
      *ngIf="isRestored"
      class="form-actions__buttom"
      mat-raised-button
      color="primary"
      type="submit"
      (click)="goToSignIn()"
    >
      Войти
    </button>
  </form>
</div>
